---
import { SubscriptionBox } from '../components/subscription-box/SubscriptionBox';

import type { GraphQLBooking } from '../lib/graphql/.generatedTypes';
import { getBookings } from '../lib/graphql';
import AccountPageLayout from './AccountPageLayout.astro';

interface Props {
  user: any;
  session: any;
}

const { user } = Astro.props;

// Check if subscription was successful from query parameter
const subscriptionSuccess = Astro.url.searchParams.get('subscription') === 'success';

const bookings: GraphQLBooking[] = await getBookings(user?.id);
const now = new Date();

const bookingsToCome = bookings.filter((booking) => {
	console.log('Booking date:', booking.date, 'Booking hour:', booking.hour);
	if (!booking.date || !booking.hour) return false;

	const bookingDate = new Date(booking.date);
	const bookingHour = parseInt(booking.hour);
	
	const bookingDateTime = new Date(bookingDate);
	bookingDateTime.setHours(bookingHour, 0, 0, 0);
	
	return bookingDateTime > now;
}).sort((a, b) => {
	const dateA = new Date(a.date || '');
	const dateB = new Date(b.date || '');
	const hourA = parseInt(a.hour || '0');
	const hourB = parseInt(b.hour || '0');
	
	if (dateA.toDateString() === dateB.toDateString()) {
		return hourA - hourB;
	}
	
	return dateA.getTime() - dateB.getTime();
});
---
<AccountPageLayout>
	<div class="flex gap-6 flex-wrap">
		<div class="card w-96 bg-base-200 card-lg shadow-sm">
			<div class="card-body">
				<h2 class="card-title">Account information</h2>
				<ul class="list-inside mt-2">
					<li class="mb-1"><strong>Name:</strong> {user.name} {user.surname}</li>
					<li class="mb-1"><strong>Email:</strong> {user.email}</li>
					<li class="mb-1"><strong>Member since:</strong> {new Date(user.createdAt).toLocaleDateString()}</li>
				</ul>
			</div>
		</div>

		<div class="card w-96 bg-base-200 card-lg shadow-sm">
			<div class="card-body">
				<h2 class="card-title">Bookings</h2>
				{bookingsToCome.length === 0 ? (
					<p>You have no upcoming bookings.</p>
				) : (
					<ul class="list bg-base-100 rounded-box shadow-md">
						{bookingsToCome.map((booking, key) => (
							<li class="list-row">
								<div class="text-4xl font-thin opacity-30 tabular-nums">{key + 1}</div>
								<div class="list-col-grow">
									<div>
										{new Date(booking?.date || '').toLocaleDateString()} at {booking.hour}:00
									</div>
									<div class="text-xs uppercase font-semibold opacity-60">{booking.courtName}</div>
								</div>
							</li>
						))}
					</ul>
				)}
			</div>
		</div>
		<SubscriptionBox 
			userEmail={user?.email} 
			isAuthenticated={true}
			client:load
		/>
	</div>
</AccountPageLayout>